.example-spacer {
    flex: 1 1 auto;
    
  }

  table {
    width: 100%;
    border: 5px solid rgb(53, 61, 88);
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
    background-color: rgb(84, 31, 246);
  }
  
.container{
  max-width: 1200px;
  margin: auto;
  background-color: rgb(144, 5, 16);
}



  